
body{
    background: url(../back.jpg) no-repeat;
    background-size: cover;
   
}
p {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 12px;
    color: #039;
    background-color: #FCEBB6;
    opacity:0.4;
}
